---
layout: default
title: Team
permalink: /team
---

{% for member in site.data.members %}
<div class="team-member">
    {% if member.image %}
    <img class="image" src="{{ member.image }}" alt="">
    {% else %}
    <i class="icon ion-ios-person-outline"></i>
    {% endif %}
    <div class="name">
        {{ member.name }}
        ({{ member.nickname }})
    </div>
    <div class="role">
        {{ member.role }}
    </div>
    <a class="email" href="mailto:{{ member.email }}">{{ member.email }}</a>
    <div class="message">
    </div>
</div>
{% endfor %}