#unpa-home-text {
  text-align: center;
  .title {
    font-size: 18px;
    font-weight: 600;
    span {
      font-size: 22px;
    }
  }
}
.team-member {
  text-align: center;
  padding: 36px 0;
  &:not(:last-child) {
    border-bottom: 1px solid #f2f2f2;
  }
  .icon {
    font-size: 32px;
    line-height: 1em;
  }
  .image {
    width: 128px;
    height: 128px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  .name {
    font-size: 16px;
  }
  .nickname {
    font-size: .8em;
    color: #888;
  }
  .role, .email {
    font-size: 10px;
    display: block;
  }
  .message {

  }
}

.unpa-product {
  text-align: center;
  padding: 36px 0;
  &:not(:last-child) {
    border-bottom: 1px solid #f2f2f2;
  }
  .icon {
    font-size: 32px;
    line-height: 1em;
  }
  .name {
    font-size: 16px;
  }
  .link {
    font-size: 10px;
    display: inline-block;
  }
}